@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: rgb(0, 0, 0);
  --foreground: white;
  --primary: rgba(2, 208, 210, 1);
  --secondary: rgba(89, 252, 233, 0.43);

  --primary-accent: rgba(2, 208, 210, 1);
  --foreground-accent: #ffffff;
  --hero-background: #000000;
}

html {
  @apply scroll-smooth;
}

body {
  @apply text-lg;

  color: var(--foreground);
  background: var(--background);
  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.manrope {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

#logos svg {
  @apply w-fit h-10 sm:h-12;
}

.benefit-section:last-of-type>div {
  @apply mb-10;
}